
<footer class="ct-footer footer-2 footer-dark" style="background-color: #f7f4ee">
    <div class="container pt-4">
      <section class="mb-4">
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fa-brands fa-facebook-square"></i></a>

        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fa-brands fa-twitter-square"></i></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fa-brands fa-linkedin"></i></a>
        <a
          class="btn btn-link btn-floating btn-lg text-dark m-1"
          href="#!"
          role="button"
          data-mdb-ripple-color="dark"
          ><i class="fa-brands fa-github"></i></a>
      </section>
    </div>
    <div class="text-center text-dark p-3" style="background-color: rgba(71, 66, 66, 0.2);">
      © 2022 Copyright:
      <a class="text-dark" href="/">myRecipeBook.com</a>
    </div>
  </footer>
